$textcolor: #F9F9F2;
$nav_color: #383833;
$hover_color: #F24236;
$background_color: #F9F9F2;
$button_color: #0D3B66;
$brand_color: #F24236;

html
{
  scroll-behavior: smooth;
}

body
{
    font-family: monospace;
    background-color: $background_color;
}

.navbar 
{
    background-color: $nav_color !important;
    height: 10%;
    font-family: monospace;

    a
    {
        font-size: 16px;
        color: $textcolor !important;
    }
    a:hover
    {
        color: $hover_color !important;
    }

    .navbar-brand
    {
        font-size: 24px;
        pointer-events: none;
        color: $brand_color !important;
    }

    .collapsing, .navbar.show, .collapse{
    background: $nav_color !important;
}
}

#main
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4%;

    .starter
    {
        height: 100vh;
        bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    
        img
        {
            width: 300px;
        }
    
        p
        {
            margin: 0em;
            font-family: monospace;
            font-size: 30px;
    
            span
            {
                font-weight: bold;
            }
        }
    
        .img_div
        {
            text-align: center; 
        }
    
        .button_div
        {
            padding-top: 5%;
            text-align: center;
    
            .btn
            {
                color: $textcolor;
                background-color: $button_color;
                border: #0D3B66;
            }
    
            .btn:hover
            {
                color: $hover_color;
            }
        }
    }
    
    #all_hounds
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .title
        {
            font-size: 36px;
            margin-top: 12%;
            width: 100%;
            text-align: center;
        }
        
        .card_div
        {
            display: flex;
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 2%;

            .card
            {
                margin: 10px;

                li.list-group-item
                {
                    height: 44px;
                }
            }
        }

        .left
        {
            float: right;
        }

        .right
        {
            float: left;
        }
    }
    
}

