$textcolor: #F9F9F2;
$nav_color: #383833;
$hover_color: #F24236;
$background_color: #F9F9F2;
$button_color: #0D3B66;
$brand_color: #F24236;

html
{
  scroll-behavior: smooth;
}

body, footer
{
    font-family: monospace;
    background-color: $background_color;
}

.navbar 
{
    background-color: $nav_color !important;
    height: 10%;
    font-family: monospace;

    a
    {
        font-size: 16px;
        color: $textcolor !important;
    }
    a:hover
    {
        color: $hover_color !important;
    }

    .navbar-brand
    {
        font-size: 24px;
        pointer-events: none;
        color: $brand_color !important;
    }

    .collapsing, .navbar.show, .collapse
    {
    background: $nav_color !important;
    }

}

#main
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4%;
    

    .starter
    {
        height: 100vh;
        bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    
        img
        {
            width: 300px;
        }
    
        p
        {
            margin: 0em;
            font-family: monospace;
            font-size: 30px;
    
            span
            {
                font-weight: bold;
            }
        }
    
        .img_div
        {
            text-align: center; 
        }
    
        .button_div
        {
            padding-top: 5%;
            text-align: center;
    
            .btn
            {
                color: $textcolor;
                background-color: $button_color;
                border: #0D3B66;
            }
    
            .btn:hover
            {
                color: $hover_color;
            }
        }
    }
    
    #all_hounds, #top_hound, #best_howl, #sniff
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media screen and (max-width: 600px) 
        {
            .response
            {
                padding-top: 34px;
            }

            .response2
            {
                padding: 40px;
            }
        }

        .title
        {
            font-size: 36px;
            margin-top: 5%;
            width: 100%;
            text-align: center;
        }

        .title_alt
        {
            font-size: 36px;
            margin-top: 2%;
            width: 100%;
            text-align: center;
        }

        .title_alt2
        {
            font-size: 36px;
            margin-top: 1%;
            width: 100%;
            text-align: center;
        }
        
        .card_div
        {
            display: flex;
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 2%;

            .card
            {
                margin: 10px;

                li.list-group-item
                {
                    height: 44px;
                }

                margin-top: 40px;
            }
        }

        .left
        {
            float: right;
        }

        .right
        {
            float: left;
        }

        .gold
        {
            background-color: #d4af37;
        }

        .silver
        {
            background-color: #aaa9ad;
        }

        .bronze
        {
            background-color: #b08d57;
        }
    }

    
}

#top_hound
{
    margin-top: 0em;
}

.foot
{
    background-color: $nav_color;
    width: 100%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    p
    {
        margin-bottom: 0em;
        color: $textcolor;
    }

    a
    {
        color: #FFE711;
    }

    a:hover
    {
        text-decoration: none;
        color: $hover_color;
    }
    
}

.container
{
    margin-top: 6rem;
}


